Flask==1.1.2
matplotlib==3.3.4
mysql-connector-python==8.0.23
nltk==3.5
notebook==6.2.0
numpy==1.18.1
packaging==20.9
pandas>=0.19
pickle-mixin==1.0.2
pickleshare==0.7.5
regex==2021.3.17
scikit-learn==0.24.1
sklearn==0.0
wordcloud==1.8.1
